@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
:root {
    --primary-color: #14B8A6;
    --blue-gray: #475569;
    --true-gray: #E5E5E5;
}

body{
    background-color: var(--primary-color);
    color: var(--blue-gray);
    font-family: 'Ubuntu', sans-serif;
    
}

.container {
    max-width: 50%;
    margin: auto;
}

h1 {
    text-align: center;
}

label,
input {
    margin: 1rem auto 1rem auto;
    display: block;
    text-align: center;
    font-weight: bold;

}
input{
    font-family: inherit;
    padding: 0.5rem;
    height:2rem;
    width:25%;
    color: var(--blue-gray);
    border-color: var(var(--blue-gray));
    border-radius: 1rem;
    margin-bottom: 2rem;
    /* background-color: var(--true-gray); */

}

#button-check{
    display: block;
    margin-top: 1rem;
    margin: auto;
    font-family: inherit;
    padding:0.5rem;
    width: 20%;
    background-color: inherit;
    border-color: var(--blue-gray);
    border-radius: 1rem;
    color: var(--true-gray);
    font-weight: bold;
    
}

#display-message{
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 1rem;
}

footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    font-weight: bold;
    height: 50px;
    margin: 0px;
}